@import '../../px-to-vw.styl';

.left-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  .content {
    width: $(368px);

    color: #303030;
  }

  h1 {
    margin: 0;
    font-family: Lato Heavy;
    font-size: $(48px);

    line-height: $(60px);
  }

  p {
    line-height: $(60px);

    font-family: Lato;
    font-size: $(16px);
  }

  .title-cover {
    padding: 0;
    margin: 0;

    overflow: hidden;

    @keyframes title-grow {
      from {
        transform: translate(0, $(60px));
      }

      to {
        transform: translate(0, 0);
      }
    }

    .animate, .animate-late, .animate-later {
      animation-name: title-grow;
      animation-duration: 1s;
      animation-fill-mode: backwards;
      animation-iteration-count: 1;
    }

    .animate-late {
      animation-delay: 0.4s;
    }

    .animate-later {
      animation-delay: 1s;
    }
  }

  button {
    font-family: Lato;
    font-size: $(16px);

    margin-top: $(60px);

    width: $(249px);
    height: $(48px);

    border: $(1px) solid #303030;
    background: none;
    outline: none;

    cursor: pointer;

    &:hover {
      color: #e1e1e1;
      background: #303030;
    }
  }
}
