<div class="right-wrapper">

  <div class="search-bar" [title]="title">
    <!-- Search Input. -->
    <div class="search-input-width">
      <div
        class="slider"
       [class.search]="searchEnable"
      ></div>

      <div
        class="search-icon"
        (click)="enableSearch()"
      ></div>

      <div class="search-input-text" [class.search]="searchEnable">
        <input type="text" placeholder="Search" #searchInput/>
      </div>
    </div>
    <!-- End of Search Input. -->
  </div>

  <div class="content">
    <!-- <router-outlet name="search-result"></router-outlet> -->

    <app-search-dropdown [list]="items"></app-search-dropdown>
  </div>
</div>
