@import '../../px-to-vw.styl';

$content-width = $(16px) * 6 + $(188px) * 2 + $(182px);

.right-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  @import './search-input.styl';

  .content {
    flex: 1 1 auto;

    @import './search-input-dropdown';
  }
}
