<div class="right-wrapper">

  <div class="search-bar" [title]="title">
    <!-- Search Input. -->
    <div class="search-input-width">
      <div
        class="slider"
        [class.active]="searchFieldActive">
        <nav>
          <div class="tab" routerLink="">Home</div>
          <div class="tab">About</div>
        </nav>
      </div>

      <div
        class="search-icon"
        (click)="openSearchField()">
      </div>

      <div class="search-input-text" [class.active]="searchFieldActive">
        <input
          type="text" placeholder="Search"
          #searchInput
          (enter)="confirm()"/>
        <div class="close-icon" (click)="closeSearchField()"></div>
      </div>
    </div>
    <!-- End of Search Input. -->
  </div>

  <div class="content">
    <ng-template [ngIf]="searchFieldActive">
      <app-search-dropdown [list]="items"></app-search-dropdown>
    </ng-template>

    <ng-template [ngIf]="!searchFieldActive">
      <app-search-result></app-search-result>
    </ng-template>
  </div>
</div>
