<div class="right-wrapper">

  <div class="search-bar">
    <!-- Search Input. -->
    <div class="search-input-width">
      <div
        class="slider"
        [class.active]="searchFieldActive">
        <nav>
          <div class="tab" routerLink="">Home</div>
          <div class="tab">About</div>
        </nav>
      </div>

      <div
        class="search-icon"
        (click)="openSearchField()">
      </div>

      <div
        class="search-input-text"
        [class.active]="searchFieldActive"
        [attr.data-snippet]="snippet">
        <input
          type="text" placeholder="Search"
          #searchInput
          (keydown)="onKeyDown($event)"
          (keyup)="onKeyUp($event)"
          (keypress)="onKeyPress($event)"/>
        <div class="close-icon" (click)="closeSearchField()"></div>
      </div>
    </div>
    <!-- End of Search Input. -->
  </div>

  <div class="content">
    <ng-template [ngIf]="searchFieldActive">
      <app-search-dropdown [list]="dropdownList"></app-search-dropdown>
    </ng-template>

    <ng-template [ngIf]="!searchFieldActive">
      <router-outlet named="search-content"></router-outlet>
      <app-search-result [results]="results"></app-search-result>
    </ng-template>
  </div>
</div>
