.right-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  for $i in 1 2 3 4 5 6 {
    .image-ith-{$i} {
      background: blue;
    }
  }

  .image-ith-1 {
    width: 182px;
    height: 199px;
  }

  .image-ith-2 {
    width: 134px;
    height: 226px;
  }

  .image-ith-3 {
    width: 242px;
    height: 226px;
  }

  .image-ith-4 {

  }

  .image-ith-5 {

  }

  .image-ith-6 {

  }
}
