.left-wrapper {
  width: 100%
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .left-content {
    width: 25vw;

    color: #303030;
  }

  h1 {
    margin: 0;
    font-family: Lato Heavy;
    font-size: 3vw;

    line-height: 4vw;
  }

  p {
    line-height: 1vw;

    font-family: Lato;
    font-size: 1.11vw;
  }

  .title-cover {
    padding: 0;
    margin: 0;

    overflow: hidden;

    @keyframes title-grow {
      from {
        transform: translate(0vw, 3.2vw);
      }

      to {
        transform: translate(0vw, 0vw);
      }
    }

    .animate, .animate-late, .animate-later {
      animation-name: title-grow;
      animation-duration: 1s;
      animation-fill-mode: backwards;
      animation-iteration-count: 1;
    }

    .animate-late {
      animation-delay: 0.4s;
    }

    .animate-later {
      animation-delay: 1s;
    }

    &.title-cover-p {
      margin: 3vw 0;
    }
  }

  button {
    font-family: Lato;
    font-size: 1.11vw;

    margin-top: 5vw;

    width: 18vw;
    height: 3.8vw;

    border: 0.1vw solid #303030;
    background: none;
    outline: none;

    cursor: pointer;

    &:hover {
      color: #e1e1e1;
      background: #303030;
    }
  }
}
