<div class="left-wrapper">
  <div class="left-content">
      <div class="title-cover">
        <div class="animate">
          <h1>LUCENE</h1>
        </div>
      </div>
      <div class="title-cover">
        <div class="animate-late">
          <h1>SEARCH</h1>
        </div>
      </div>

      <div class="title-cover title-cover-p">
        <div class="animate-later">
          <p>
            Search for what you love!
          </p>
        </div>
      </div>

    <button>Getting Started</button>
  </div>
</div>
