@import '../px-to-vw';

.outter-wrapper {
  display: flex;
  flex-flow: row nowrap;

  height: 100%;
  width: 100%;

  app-left-content {
    display: block;

    width: $(570px);
    height: 100%;

    background: #e1e1e1;
  }

  app-right-content {
    display: block;

    width: $(700px);
    height: 100%;

    background: white;
  }
}
